* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

#root {

}

body{
    background-image: url("../public/img/background.png");
    background-size: 1440px, 2477px;
    box-sizing: border-box;
    background-position: center top;
    font-family: "Manrope", sans-serif;
}